<!DOCTYPE html>
<html lang="en" ng-app="makeupApp">
<head>
	<meta charset="UTF-8">
	<title>Makeup app</title>
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/app.css">
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/angular.min.js"></script>
	<script src="assets/js/angular-sanitize.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/script.js"></script>
	<script src="assets/js/jquery-script.js"></script>
	<!--<script src="assets/dist/script.min.js"></script>-->
	<script src="app.js"></script>
	<!--<script>window.onfocus=function(){setTimeout(function(){location.reload()}, 500)}</script>-->
	<!--<script>setInterval(function(){location.reload()}, 1000)</script>-->
	<style>

	</style>
</head>
<body ng-controller="MainController">
	<div id="canvas"></div>
	<div id="top-space"></div>
	<div id="main-div">
		<div id="menu" >
			<div class="container-fluid h100">
				<div class="row text-center h100">
					<div class="col-xs-{{btn.size}} h100"  ng-repeat="btn in menuButtons">
						<div class="menu-btn" ng-click="selectTab($index + 1)">
							<div class="menu-btn-body" ng-class="{'active-tab': selectedTab === $index + 1}">
								<span>{{btn.name}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="inventory" ng-switch on="selectedTab" >
			<div id="inventory-body-wrap">
				<div id="inventory-body">
					<!--<div style="height: 20%; width: 120%; background-color: darkred; position: absolute;"></div>-->
					<!--TAB 1-->
					<div class="product-wrap">
						<div ng-switch-when="1" class="">

							<div class="product" ng-repeat="product in products" ng-class="{'no-border': $last}">
								<div class="prod-description">
									<div class="prod-description-icon"></div>
									<!--<img src="{{product.icon}}">-->
									<p ng-bind-html="product.desc"></p>
								</div>
								<div class="col-xs-3 prod-icon h100">
									<span class="prod-icon-helper"></span><img src="{{product.icon}}" class="">
								</div>
								<div class="col-xs-9 prod-body h100">
									<div class="h100">
										<div class="prod-name">
											<span>{{product.name}}</span>
										</div>
										<div class="prod-tone">
											<div class="tone"
											     ng-click="selectProduct($index, -1)">
												<img src="media/crossbox.png" alt="" style="width: 100%;height: 100%;">
											</div><div class="tone"
											     ng-repeat="tone in product.tones"
											     ng-style="{'background-color': tone.hexColor}"
											     ng-click="selectProduct($parent.$index, $index)">
												<tone-active ng-if="selectedProduct[0] === $parent.$index && selectedProduct[1] === $index"></tone-active>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--TAB 2-->
						<div ng-switch-when="2">
							<h3>Second Tab</h3>
						</div>
						<!--TAB 3-->
						<div ng-switch-when="3">
							<h3>Third Tab</h3>
						</div>
						<!--TAB 4-->
						<div ng-switch-when="4">
							<h3>Fourth Tab</h3>
						</div>
						<!--TAB 5-->
						<div ng-switch-when="5">
							<h3>Fifth Tab</h3>
						</div>
					</div>
				</div>
			</div>
		</div><div id="scrollbar">
			<div id="scroll-body">
				<div id="scroll"></div>
			</div>
		</div><div id="preview">
			<div id="nomodel">
				<img src="media/nomodel.svg" alt="" class="img-responsive">
			</div>
			<div id="scene">
				<div id="curtain"></div>
				<div class="slider" ng-class="{'slider-active': previewActiveBtn === 4}">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad asperiores dicta dolore dolorem ea esse et expedita explicabo facilis illo, maxime minus molestias nostrum numquam quod rem repellendus saepe sit tempora tenetur ullam ut vitae, voluptatem voluptates? Architecto aspernatur consequuntur esse explicabo harum laboriosam magnam, obcaecati omnis placeat quaerat quam quibusdam ratione sapiente sed, soluta ullam vel, veniam. Culpa eaque, nemo. Adipisci autem dolore eveniet explicabo illum iure maiores molestias obcaecati quaerat quasi reiciendis sit veniam vero voluptatem, voluptatum. Architecto autem dolor dolorum eius eum eveniet facere facilis harum modi necessitatibus nisi porro quaerat quas qui, recusandae sapiente sint?</p>
				</div>
				<div id="model-container">
					<img id="model-img" src="media/temp-girl.png" alt="" class="img-responsive h100">
				</div>
				<div id="mask-container" ng-style="{'width': previewActiveBtn === 2 ? '50%' : '100%'}">
					<img src="media/test-mask.png" alt="" class="">
				</div>
				<div id="compare" ng-show="previewActiveBtn === 2">
					<div id="compare-line"></div>
					<div id="compare-slider" class="text-center">
						<span class="glyphicon glyphicon-menu-left">
						</span><span class="glyphicon glyphicon-menu-hamburger">
						</span><span class="glyphicon glyphicon-menu-right"></span>
					</div>
				</div>
				<div id="magnifier">
					<div id="magnifier-inner"></div>
				</div>
			</div>
			<div id="preview-menu" class="container-fluid">
				<div class="row h100">
					<div class="preview-btn-wrap text-center col-xs-{{btn.size}} h100" ng-repeat="btn in previewButtons">
						<div class="preview-btn" ng-click="btn.action()" ng-class="{'active-btn': previewActiveBtn === btn.id}">{{btn.name}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>